name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key:
          eval $(ssh-agent -s)
          ${{ secrets.SSH_PRIVATE_KEY }} > ~/.ssh/id_rsa

    - name: Deploy to Server
      run: |
        ssh -o StrictHostKeyChecking=no root@5.101.2.221 << 'EOF'
          cd /root/New-
          git pull origin master
          docker-compose down
          docker-compose build
          docker-compose up -d
        EOF